/* .image_container {
    border-radius: 100%;
    background-color: var(--ion-color-medium)
} */

.weather_card_inner_card {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 1rem;
    background-color: #92949c;
}